<link rel="stylesheet" href="/css/error.css" />
<div class="main-container d-flex justify-content-center align-items-center">
  <div class="wrapper text-center">
    <img src="/imgsheroku/error.png" alt="error illustration" />
    <h1 class="text-white"><%= message %></h1>
    <a href="/" class="btn mt-4"> Go back to safety</a>
  </div>
</div>
