<link rel="stylesheet" href="/css/home.css" />

<!--
  -- ──────────────────────────────────────────────────────────────── I ──────────
  --   :::::: S E C T I O N   H E R O : :  :   :    :     :        :          :
  -- ──────────────────────────────────────────────────────────────────────────
  -->

<!-- Loading square for squar.red network -->

<section class="section-hero">
  <div class="container row gy-5">
    <div
      class="left-text-box col-lg-6 text-center text-lg-start order-2 order-lg-1"
    >
      <h1
        class="text-white hero-heading animate__jackInTheBox animate__animated"
      >
        Revise Data Structures Like Never Before
      </h1>
      <h4
        class="hero-desc text-white align-self-center animate__jackInTheBox animate__animated mx-auto mx-lg-0"
      >
        Tired of filtering through topic tags ?
        <br />
        Now Generate questions from all topics of DSA in a single click
      </h4>

      <a href="/auth/google" class="btn mt-5">
        continue with
        <img
          loading="lazy"
          class="icon"
          src="https://img.icons8.com/color/50/000000/google-logo.png"
        />
      </a>
    </div>
    <div
      class="right-img-box mt-5 mt-lg-0 col-lg-6 order-1 order-lg-2 text-lg-center text-start"
    >
      <picture>
        <source srcset="imgsheroku/right.webp" type="image/webp" />
        <source srcset="imgsheroku/right.png" type="image/png" />
        <img loading="lazy" src="imgsheroku/right.png" />
      </picture>
    </div>
  </div>
</section>

<!--
  -- ──────────────────────────────────────────────────────────────────────── II ──────────
  --   :::::: S E C T I O N   F E A T U R E S : :  :   :    :     :        :          :
  -- ──────────────────────────────────────────────────────────────────────────────────
  -->

<section class="section-features d-flex flex-column">
  <div class="container row feature-container">
    <h1 class="section-heading text-white text-center">Features</h1>
    <div class="feature-img-box-1 col-lg-8 col-sm-12 text-center text-lg-start">
      <picture>
        <source srcset="imgsheroku/problemshot.webp" type="image/webp" />
        <source srcset="imgsheroku/problemshot.png" type="image/png" />
        <img loading="lazy" src="imgsheroku/problemshot.png" />
      </picture>
    </div>
    <div class="feature-text-box-1 col-lg-4 m-auto text-center text-lg-start">
      <h3 class="feature-head">
        Revise got everything you need on this one page.
      </h3>
      <h4 class="feature-desc mx-auto mx-lg-0">
        Questions from DP , Graph Linked List and 10+ topics on single page, in
        a click
      </h4>
      <a href="/auth/google" class="btn btn-outline mt-5 col-sm-12">
        continue with
        <img
          loading="lazy"
          class="icon"
          src="https://img.icons8.com/color/50/000000/google-logo.png"
        />
      </a>
    </div>
  </div>

  <div class="container row feature-container" style="padding-top: 12rem">
    <div
      class="feature-text-box-1 col-lg-5 m-auto text-center text-lg-start order-2 order-lg-1"
    >
      <h3 class="feature-head">Learned an important concept ?</h3>
      <h4 class="feature-desc mx-auto mx-lg-0">
        Revise it by solving Questions that you haven't solved in the last Five
        days.
      </h4>
      <a href="/auth/google" class="btn btn-outline mt-5 col-sm-12">
        continue with
        <img
          class="icon"
          src="https://img.icons8.com/color/50/000000/google-logo.png"
        />
      </a>
    </div>
    <div
      class="feature-img-box-1 img-2-box col-lg-7 col-sm-12 text-center order-1 order-lg-2"
    >
      <picture>
        <source srcset="imgsheroku/revisionpic.webp" type="image/webp" />
        <source srcset="imgsheroku/revisionpic.png" type="image/png" />
        <img src="imgsheroku/revisionpic.png" />
      </picture>
    </div>
  </div>
</section>

<section class="section-features d-flex flex-column" style="padding-top: 12rem">
  <div class="container row feature-container">
    <div class="feature-img-box-1 col-lg-7 col-sm-12 text-center text-lg-start">
      <picture>
        <source srcset="imgsheroku/email.webp" type="image/webp" />
        <source srcset="imgsheroku/email.png" type="image/png" />
        <img class="email-img" loading="lazy" src="imgsheroku/email.png" />
      </picture>
    </div>
    <div class="feature-text-box-1 col-lg-5 m-auto text-center text-lg-start">
      <h3 class="feature-head">Consistency is the key</h3>
      <h4 class="feature-desc mx-auto mx-lg-0">
        Receive daily Questions within your inbox, so that you don't loose up on
        your streak
      </h4>
      <a href="/auth/google" class="btn btn-outline mt-5 col-sm-12">
        continue with
        <img
          loading="lazy"
          class="icon"
          src="https://img.icons8.com/color/50/000000/google-logo.png"
        />
      </a>
    </div>
  </div>

  <!-- ACCORDIAN -->

  <section class="section-accordian">
    <h2 class="text-center text-white">Questions You might be Interested !</h2>

    <div class="container py-5 w-70">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <!-- FIRST ITEM -->

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
            >
              <span class="accord-question">
                What set of questions does Revise currently have ?
              </span>
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse">
            <div class="accordion-body py-4">
              <h4 class="accord-answer">
                The  majority of questions come from Leetcode,  The best part is
                that you only solve questions with an acceptance rate of higher
                than 30%, so you don't spend time on the most disliked ones.
              </h4>
            </div>
          </div>
        </div>

        <!-- SECOND ITEM -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThird">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThird"
            >
              <span class="accord-question">
                How does the revision Algorithm Works ?
              </span>
            </button>
          </h2>
          <div id="flush-collapseThird" class="accordion-collapse collapse">
            <div class="accordion-body py-4">
              <h4 class="accord-answer">
                You solve questions that you haven't solved in the last 5
                days(by default) or choosen frequency time, giving you more time
                to work on new ones and revise old ones. This is based on the
                technique known as spaced repetition.
              </h4>
            </div>
          </div>
        </div>

        <!-- THIRD ITEM  -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo"
            >
              <span class="accord-question"> Little bit about me! </span>
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse">
            <div class="accordion-body py-4">
              <h4 class="accord-answer">
                Back in 2021 , When I first started learning DSA , I had to
                filter questions from each topic, which was a lot of work.
                Another issue I had was with revision; everytime I learnt an
                important concept from any question, I apparently forgot it,
                which motivated me to build Revise, which thankfully solves both
                issues.
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
