<link rel="stylesheet" href="css/error.css" />
<div class="main-container d-flex justify-content-center align-items-center">
  <div class="wrapper text-center">
    <div class="img-wrapper d-block mx-auto">
      <picture>
        <source srcset="imgsheroku/group31.webp" type="image/webp" />
        <source srcset="imgsheroku/group31.png" type="image/png" />
        <img src="imgsheroku/group31.png" />
      </picture>
    </div>
    <a href="/" class="btn mt-4"> Solve More Problems</a>
  </div>
</div>
